body{
  background: rgb(255, 255, 255);
}

#title, .subtitle, .post_title{
  color: blue;
}

.post_title{
  font-size: 16px;
  font-style: italic;

}

.post{
  background: rgb(127, 118, 118);
  padding: 10px;
  border: 3px solid black;
  margin: 10px;
}